<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">

<listener>
	<listener-class>it.unical.mat.moviesquik.controller.Initializer</listener-class>
</listener>

<!-- Home Servlet -->
<servlet>
	<servlet-name>home</servlet-name>
	<servlet-class>it.unical.mat.moviesquik.controller.Home</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>home</servlet-name>
	<url-pattern></url-pattern>
</servlet-mapping>

<!-- Signup Servlet -->
<servlet>
	<servlet-name>signup</servlet-name>
	<servlet-class>it.unical.mat.moviesquik.controller.Signup</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>signup</servlet-name>
	<url-pattern>/registration</url-pattern>
</servlet-mapping>

<!-- Add Profile Servlet -->
<servlet>
	<servlet-name>addprofile</servlet-name>
	<servlet-class>it.unical.mat.moviesquik.controller.AddProfile</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>addprofile</servlet-name>
	<url-pattern>/addprofile</url-pattern>
</servlet-mapping>

<!-- Profiles Manager Servlet -->
<servlet>
	<servlet-name>profile_manager</servlet-name>
	<servlet-class>it.unical.mat.moviesquik.controller.ProfilesManager</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>profile_manager</servlet-name>
	<url-pattern>/whoiswatching</url-pattern>
</servlet-mapping>

<!-- Login Servlet -->
<servlet>
	<servlet-name>login</servlet-name>
	<servlet-class>it.unical.mat.moviesquik.controller.Login</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>login</servlet-name>
	<url-pattern>/login</url-pattern>
</servlet-mapping>

<!-- Account Info Servlet -->
<servlet>
	<servlet-name>account_manager</servlet-name>
	<servlet-class>it.unical.mat.moviesquik.controller.AccountManager</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>account_manager</servlet-name>
	<url-pattern>/account</url-pattern>
</servlet-mapping>

<!-- Billing Info Servlet -->
<servlet>
	<servlet-name>billing_manager</servlet-name>
	<servlet-class>it.unical.mat.moviesquik.controller.BillingManager</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>billing_manager</servlet-name>
	<url-pattern>/billing</url-pattern>
</servlet-mapping>

<!-- User Profile Servlet -->
<servlet>
	<servlet-name>user_profile</servlet-name>
	<servlet-class>it.unical.mat.moviesquik.controller.accounting.UserProfile</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>user_profile</servlet-name>
	<url-pattern>/user</url-pattern>
</servlet-mapping>

<!-- User Profile Upload Servlet -->
<servlet>
	<servlet-name>user_profile_upload</servlet-name>
	<servlet-class>it.unical.mat.moviesquik.controller.accounting.UserProfileUpload</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>user_profile_upload</servlet-name>
	<url-pattern>/user_upload</url-pattern>
</servlet-mapping>

<!-- FriendshipManager Servlet -->
<servlet>
	<servlet-name>friendship_manager</servlet-name>
	<servlet-class>it.unical.mat.moviesquik.controller.accounting.FriendshipManager</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>friendship_manager</servlet-name>
	<url-pattern>/friendship</url-pattern>
</servlet-mapping>

<!-- FollowingManager Servlet -->
<servlet>
	<servlet-name>following_manager</servlet-name>
	<servlet-class>it.unical.mat.moviesquik.controller.accounting.FollowingManager</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>following_manager</servlet-name>
	<url-pattern>/following</url-pattern>
</servlet-mapping>


<!-- Searching Servlets -->

<!-- Search Servlet -->
<servlet>
	<servlet-name>search</servlet-name>
	<servlet-class>it.unical.mat.moviesquik.controller.searching.Search</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>search</servlet-name>
	<url-pattern>/search</url-pattern>
</servlet-mapping>

<!-- Text Search Servlet -->
<servlet>
	<servlet-name>text_search</servlet-name>
	<servlet-class>it.unical.mat.moviesquik.controller.searching.TextSearch</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>text_search</servlet-name>
	<url-pattern>/textsearch</url-pattern>
</servlet-mapping>

<!-- Type Search Servlet -->
<servlet>
	<servlet-name>media_content_search</servlet-name>
	<servlet-class>it.unical.mat.moviesquik.controller.searching.MediaContentsSearch</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>media_content_search</servlet-name>
	<url-pattern>/mcsearch</url-pattern>
</servlet-mapping>



<!-- MediaContentsBroker Servlet -->
<servlet>
	<servlet-name>media_contents_broker</servlet-name>
	<servlet-class>it.unical.mat.moviesquik.controller.MediaContentsBroker</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>media_contents_broker</servlet-name>
	<url-pattern>/listcontents</url-pattern>
</servlet-mapping>

<!-- FamilyMembersBroker Servlet -->
<servlet>
	<servlet-name>family_broker</servlet-name>
	<servlet-class>it.unical.mat.moviesquik.controller.accounting.FamilyBroker</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>family_broker</servlet-name>
	<url-pattern>/getfamily</url-pattern>
</servlet-mapping>


<!-- CreatePost Servlet -->
<servlet>
	<servlet-name>create_post</servlet-name>
	<servlet-class>it.unical.mat.moviesquik.controller.posting.CreatePost</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>create_post</servlet-name>
	<url-pattern>/createpost</url-pattern>
</servlet-mapping>


<!-- CreateComment Servlet -->
<servlet>
	<servlet-name>create_comment</servlet-name>
	<servlet-class>it.unical.mat.moviesquik.controller.posting.CreateComment</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>create_comment</servlet-name>
	<url-pattern>/createcomment</url-pattern>
</servlet-mapping>


<!-- SendPostFeedback Servlet -->
<servlet>
	<servlet-name>send_post_feedback</servlet-name>
	<servlet-class>it.unical.mat.moviesquik.controller.posting.SendPostFeedback</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>send_post_feedback</servlet-name>
	<url-pattern>/sendfeedback</url-pattern>
</servlet-mapping>


<!-- SharePost Servlet -->
<servlet>
	<servlet-name>share_post</servlet-name>
	<servlet-class>it.unical.mat.moviesquik.controller.posting.SharePost</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>share_post</servlet-name>
	<url-pattern>/sharepost</url-pattern>
</servlet-mapping>


<!-- PostsBroker Servlet -->
<servlet>
	<servlet-name>get_posts</servlet-name>
	<servlet-class>it.unical.mat.moviesquik.controller.posting.PostsBroker</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>get_posts</servlet-name>
	<url-pattern>/getposts</url-pattern>
</servlet-mapping>


<!-- CommentsBroker Servlet -->
<servlet>
	<servlet-name>get_comments</servlet-name>
	<servlet-class>it.unical.mat.moviesquik.controller.posting.CommentsBroker</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>get_comments</servlet-name>
	<url-pattern>/getcomments</url-pattern>
</servlet-mapping>


<!-- NotificationsBroker Servlet -->
<servlet>
	<servlet-name>notification</servlet-name>
	<servlet-class>it.unical.mat.moviesquik.controller.accounting.NotificationsBroker</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>notification</servlet-name>
	<url-pattern>/notification</url-pattern>
</servlet-mapping>


<!-- MediaContentPageBroker Servlet -->
<servlet>
	<servlet-name>media_content_page</servlet-name>
	<servlet-class>it.unical.mat.moviesquik.controller.media.MediaContentPage</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>media_content_page</servlet-name>
	<url-pattern>/getmedia</url-pattern>
</servlet-mapping>


<!-- Watch Servlet -->
<servlet>
	<servlet-name>watch</servlet-name>
	<servlet-class>it.unical.mat.moviesquik.controller.streaming.Watch</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>watch</servlet-name>
	<url-pattern>/watch</url-pattern>
</servlet-mapping>

<!-- Stream Manifest Servlet -->
<servlet>
	<servlet-name>stream_manifest</servlet-name>
	<servlet-class>it.unical.mat.moviesquik.controller.streaming.StreamManifest</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>stream_manifest</servlet-name>
	<url-pattern>/stream</url-pattern>
</servlet-mapping>


<!-- Watchlist Servlet -->
<servlet>
	<servlet-name>watchlist</servlet-name>
	<servlet-class>it.unical.mat.moviesquik.controller.watchlist.Watchlist</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>watchlist</servlet-name>
	<url-pattern>/watchlist</url-pattern>
</servlet-mapping>

<!-- Add Watchlist Item Servlet -->
<servlet>
	<servlet-name>addtowatchlist</servlet-name>
	<servlet-class>it.unical.mat.moviesquik.controller.watchlist.AddWatchlistItem</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>addtowatchlist</servlet-name>
	<url-pattern>/addtowatchlist</url-pattern>
</servlet-mapping>

<!-- Edit Watchlist Servlet -->
<servlet>
	<servlet-name>editwatchlist</servlet-name>
	<servlet-class>it.unical.mat.moviesquik.controller.watchlist.EditWatchlist</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>editwatchlist</servlet-name>
	<url-pattern>/editwatchlist</url-pattern>
</servlet-mapping>

<!-- Share Watchlist Servlet -->
<servlet>
	<servlet-name>sharewatchlist</servlet-name>
	<servlet-class>it.unical.mat.moviesquik.controller.watchlist.ShareWatchlist</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>sharewatchlist</servlet-name>
	<url-pattern>/sharewatchlist</url-pattern>
</servlet-mapping>

</web-app>