@charset "ISO-8859-1";

#header
{
	background-color: black;
}

body
{
}

.page-container-wrapper
{
	margin-top: 30vh;
}
.page-container
{
	text-align: center;
}
.page-container #business-logo-img
{
	height: 50px;
}
.page-container form
{
	margin-top: 10px;
	margin-right: 100px;
	margin-left: 100px;
}
.page-container form #sign-in-btn-col
{
	align-self: flex-end;
	text-align: end;
}
.page-container form .form-row .col
{
	margin-top: 20px;
}


#business-login-intro h1,h2
{
	font-weight: 600;
	font-size: 48px;
}
#business-login-intro h1
{
	/* font-size: 5.5rem; */
}
#business-login-intro h2
{
	/* font-size: 3.5rem; */
}

#business-background-img
{
	position: fixed;
	left: 0px;
	top: 0px;
	min-width: 100%;
	min-height: 100%;
	z-index: -1;
	-webkit-mask: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,.5) 50%, rgba(0,0,0,.8) 100%);
}

#back-home-link
{
	text-shadow: 0px 0px 3px black
}


/* Business Home Style */
.user-list-row
{
	text-align: left;
}
.sidenav-list-row
{
	/* margin-bottom: 10px; */
}
#home-sidenav-col
{
	min-width: 200px;
	max-width: 240px;
}
#home-page-content
{
	
}
.home-container-wrapper
{
	min-width: 1540px;
}