@charset "ISO-8859-1";

:root
{
	--char-tile-border-radius: 10px;
	--chat-tile-border-color: #4A4D52;
}

.chat-message-container
{
	position: relative;
	margin-top: 10px;
	margin-bottom: 10px;
}

.chat-message-container .avatar-img
{
	position: absolute;
	bottom: 0px;
}
.chat-message-container .chat-message-cloud
{
	
}

.my-chat-message-container .avatar-img
{
	
}
.other-chat-message-container .avatar-img
{
	right: 0px !important;
}

.my-chat-message-container .chat-message-cloud
{
	margin-left: 50px;
	/* background-image: linear-gradient(#4E4C4F, #4D4B4E); */
	background-image: linear-gradient(#B7B7B7, #B7B7B7);
	color: #262427 !important;
}
.other-chat-message-container .chat-message-cloud
{
	margin-right: 50px;
	background-image: linear-gradient(#0A7DF2, #017FFA);
}

.my-chat-message-container
{
	text-align: -webkit-left;
}
.other-chat-message-container
{
	text-align: -webkit-right;
}

.chat-message-cloud
{
	position: relative;
	max-width: 300px;
	min-height: 40px;
	width: fit-content;
	color: #E1DFE2;
	
	overflow-wrap: anywhere;
	text-align: left;
	
	padding: 5px 10px 5px 10px;
	
	border-radius: 20px;
}
.my-chat-message-container .chat-message-cloud::after
{
	content: '';
	border: 10px solid transparent;
	border-top-color: #B7B7B7;
	border-radius: 8px;
	
	position: absolute;
	bottom: 0px;
	left: 14px;
	margin-left: -20px;
	transform: rotate(-20deg);
}
.other-chat-message-container .chat-message-cloud::after
{
	content: '';
	border: 10px solid transparent;
	border-top-color: #017FFA;
	border-radius: 8px;
	
	position: absolute;
	bottom: 0px;
	right: 14px;
	margin-right: -20px;
	transform: rotate(20deg);
}

.chat-message-cloud-info
{
	text-align: right;
}
.chat-message-cloud-info .fa-cloud-upload
{
	/* color: var(--info); */
}
.chat-message-cloud-info .fa-check
{
	/* color: var(--success); */
}

.chat-list
{
	/* background-color: #EAE9E7;
	color: black; */
	/* background-color: #1c1c1e82; */
	border-radius: var(--char-tile-border-radius);
	/* box-shadow: 0px 0px 20px 12px black; */
}
.chat-popup
{
	background-color: #1B1B1D;
	color: white;
	border-radius: var(--char-tile-border-radius);
	
	width: 400px;
	height: 500px;
	
	position: fixed;
	right: 0px;
	bottom: 0px;
	margin-right: 300px;
	margin-bottom: 30px;
	
	box-shadow: 0px 0px 20px 20px black;
	
	/* border-color: var(--chat-tile-border-color);
	border-style: solid;
	border-width: 1px; */
}
.chat-popup-header
{
	width: 100%;
	height: 55px;
	
	color: white;
	background-color: #2B2B2D;
	border-bottom-color: var(--chat-tile-border-color);
	border-bottom-width: 1px;
	border-bottom-style: solid;
	
	border-top-right-radius: var(--char-tile-border-radius);
	border-top-left-radius: var(--char-tile-border-radius);
	
	padding: 5px;
}
.chat-popup-header .users-list-name
{
	max-width: 250px;
}
.chat-popup-header .fa-times
{
	color: var(--primary);
}
.chat-popup-body
{
	height: 90%;
	
	border-bottom-right-radius: var(--char-tile-border-radius);
	border-bottom-left-radius: var(--char-tile-border-radius);
}
.chat-popup-body #chat-content
{
	height: 77%;
	padding: 10px;/* 
	overflow-y: scroll; */
	display: flex;
	flex-direction: column-reverse;
}
.chat-popup-body #chat-popup-text-form
{
	height: 23%;
	
	border-bottom-right-radius: var(--char-tile-border-radius);
	border-bottom-left-radius: var(--char-tile-border-radius);
	
	background-color: #1B1B1D;
	
	border-top-color: var(--chat-tile-border-color);
	border-top-width: 1px;
	border-top-style: solid;
}
#chat-popup-text-form .media
{
	padding: 8px !important;
}
#chat-popup-text-form #chat-send-btn
{
	width: 40px;
	height: 40px;
	border-radius: 50%;
}
#chat-popup-text-form textarea
{
	background-color: white !important;
	border-radius: var(--char-tile-border-radius);
	color: black !important;
}
#chat-popup-text-form #dropdown-emoji-panel-link
{
	margin-top: 3px;
	background-color: #2B2B2D;
	border-color: var(--chat-tile-border-color);
	/* color: black; */
}

.chat-list .user-chat-row
{
	/* border-radius: 5px; */
	border-color: #3B393C;
	border-top-style: solid;
	border-bottom-style: solid;
	/* border-width: 1px; */
	border-width: 0px;
	padding-top: 10px;
	padding-left: 10px;
}
.chat-list .users-col-title
{
	margin-bottom: 30px;
	font-size: x-large;
}
.chat-list .users-col-title .note
{
	color: #E9E7EA !important;
}
.chat-list .users-col-title input
{
	width: 100%;
	height: 30px;
	border-width: 1px;
	border-color: black;
	background-color: #1c1c1e !important;
	border-radius: 8px;
	margin-top: 10px;
	font-size: medium;
	color: white !important;
	padding-right: 10px;
	padding-left: 10px;
}

.selected-user-list-row
{
	background-color: #B7B7B7 !important;
	color: black;
	border-radius: var(--char-tile-border-radius);
}


.new-message-badge
{
	border-radius: 50%;
	background-color: #3fda7a;
	font-size: small;
	padding: 1px;
	width: 22px;
	height: 22px;
	text-align: center;
	position: absolute;
	right: 6px;
}
.chat-note
{
	color: gray;
}
.chat-list .user-icon-col
{
	padding-left: 5px;
}
.chat-list .users-list-name
{
	max-width: 130px;
}
.chat-popup .users-list-name
{
	max-width: 180px;
}