@charset "ISO-8859-1";

/* Tile group style */
.tile
{
	background-color: #1c1c1e;
	border-radius: 12px;
}

/* Selected item style */
.selected
{
	background-color: #1c1c1e;
	border-radius: 5px;
}

/* Text overflow style */
.text-overflow
{
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

/* Disabled element style */
*.disabled
{
	pointer-events: none;
	opacity: .5;
}

.fa-check.colored
{
	color: #28a745;
}
.fa-remove.colored
{
	color: #c82333;
}
.fa-exclamation-triangle.colored
{
	color: #ffc107;
}
.fa-warning.colored
{
	color: #ffc107;
}