@charset "ISO-8859-1";

/* Tile group style */
.tile
{
	background-color: #1c1c1e;
	border-radius: 12px;
}

/* Selected item style */
.selected
{
	background-color: #1c1c1e;
	border-radius: 5px;
}