@charset "ISO-8859-1";

/* Tile group style */
.tile
{
	background-color: #1c1c1e82; /*#1c1c1e;*/
	border-radius: 12px;
}

/* Selected item style */
.selected
{
	background-color: #1c1c1e;
	border-radius: 5px;
}

/* Text overflow style */
.text-overflow
{
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

/* Disabled element style */
*.disabled
{
	pointer-events: none;
	opacity: .5;
}

.fa-check.colored
{
	color: #28a745;
}
.fa-remove.colored
{
	color: #c82333;
}
.fa-exclamation-triangle.colored
{
	color: #ffc107;
}
.fa-warning.colored
{
	color: #ffc107;
}

/* Home Main Alert Style */
#main-alert
{
	position: fixed;
	top: 0px;
	margin-top: 40px;
	left: 50%;
	transform: translate(-50%);
	z-index: 100000;
	
	background-color: #B7B7B7;
	border-radius: 10px;
	box-shadow: 0px 0px 20px 10px black;
	color: black;
}
#main-alert button
{
	margin-left: 10px;
}