@charset "ISO-8859-1";

/******************************************************
	header style.
******************************************************/

.navbar
{
	/*min-height: 180px;*/
	border-bottom: 1px solid hsla(0,0%,100%,.1) !important;
	border-bottom-width: 1px !important;
	border-bottom-style: solid !important;
	border-bottom-color: hsla(0, 0%, 100%, 0.1) !important;
	/* padding: 0px; */
}

.icon-bar 
{
	width: 22px; 
	height: 2px;
	background-color: rgb(182,182,182);
	display: block;
	transition: all 0.2s;
	margin-top: 4px
}

.navbar-toggler 
{
	border: none;
	background: transparent !important;
}

.navbar-collapse, .navbar-content
{
	margin-left: 10px;
	/* margin-top: 12px; */
}

.navbar > div > ul > li > a
{
	border-radius: 10px;
	padding-left: 100px;
	padding-right: 100px;	
}

.navbar > div > ul > li > a:hover
{
	background-color: #505050;
}

.navbar-nav
{
	/* margin-right: 20px; */
}

#navbar-nav-links
{
	/* width: 100%; */
	/* text-align: center; */
}

.notifications-navbar-nav
{
	margin-right: 20px;
}

.nav-item:not(.dropdown)
{
	margin-right: 50px;
}

.navbar input
{
	background-color: transparent !important;
}

#header 
{
	padding: 0px 30px 0px 30px;
	/* min-height: 80px; */
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	z-index: 997;
	transition: all 0.5s;
}

#header a
{
	/* color: #afb4dc; */
	color: #fff;
}

#header .navbar-toggler
{
	background-color: #fff;
}

#header #logo 
{
	float: left;
}

#header #logo h1 
{
	font-size: 36px;
	margin: -4px 0 0 0;
	padding: 0;
	line-height: 1;
	display: inline-block;
	font-family: "Montserrat", sans-serif;
	font-weight: 300;
	letter-spacing: 3px;
	text-transform: uppercase;
}

#header #logo h1 a,
#header #logo h1 a:hover 
{
	color: #fff;
}

#header #logo img 
{
	padding: 0;
	margin: 0;
}

#header /* .header-fixed */ 
{
	/*background: linear-gradient(45deg, #1de099, #1dc8cd);*/
	/*background: linear-gradient(45deg, rgba(0, 0, 0, 1.0), rgba(0, 0, 0, 0.8));*/
	
	/* background: #1e1e2f !important; */
	/* background-color: rgba(29, 29, 31, 1.00.72) !important; */
	
	/* padding: 20px 0; */
	/* height: 100px; */
	transition: all 0.1s;
}

#header.header-always-fixed 
{
	/*background: linear-gradient(45deg, #1de099, #1dc8cd);*/
	/*background: linear-gradient(45deg, rgba(0, 0, 0, 1.0), rgba(0, 0, 0, 0.8));*/
	
	/**** background: #201F2D; *//* #1e1e2f; */
	
	transition: all 0.1s;
}

#header.header-fixed
{
	-webkit-backdrop-filter: saturate(180%) blur(20px);
	backdrop-filter: saturate(180%) blur(20px);
	
	background-color: rgba(0, 0, 0, 0.8);
}

#header.header-fixed .navbar, #header.header-always-fixed .navbar
{
	border-bottom-width: 0px !important;
}

.header-search-form
{
	/* margin-right: 120px; */
	margin-right: 50px;
}



/******************************************************
	nav user avatar style.
******************************************************/

#nav-user-avatar-box
{
	padding: 0px !important;
}
#nav-user-avatar-box img
{
	width: 40px !important;
	height: 40px !important;
}

#nav-user-avatar-dropdown-menu a
{
	color: #fff;
}

#navbar-nav-user
{
	margin-right: 0px !important;
}

.dropdown-menu .dropdown-item:focus, .dropdown-item:hover
{
	color: #000 !important;
}


/******************************************************
	nav user notifications style.
******************************************************/

.notifications-dropdown-menu
{
	width: 500px;
	color: #fff;
	border-radius: 20px;
	background-color: #212121 !important;
	padding-top: 10px;
}

.notifications-dropdown-menu a
{
	/* color: #0056b3 !important; */
}

#nav-user-notifications-dropdown-menu .dropdown-item
{
	color: #fff;
}

.notifications-dropdown-menu .new-notification-marker
{
	background-color: #218838;
	border-color: #1e7e34;
	padding: 3px;
	border-radius: 3px;
}

.notification-avatar-img
{
	width: 40px !important;
	height: 40px !important;
	margin-top: 5px;
}

.notification-body
{
	margin-left: 10px;
}

.notification-body p
{
	margin-bottom: 0px;
}

.badge.badge-pill
{
	position: relative;
	top: -12px !important;
	left: -5px !important;
}

.show-all-notification-container
{
	text-align: center;
}

.mark-unread-notification-container
{
	text-align: center;
}

.notification-box
{
	margin-right: 20px;
	margin-left: 20px;
}

.dropdown-divider
{
	border-top-color: #383838;
}


/******************************************************
	search input text type ahead style.
******************************************************/

#search-textbox
{
	border-top-width: 0px !important;
	border-right-width: 0px !important;
	border-left-width: 0px !important;
	border-radius: 0px;
	border-color: #fff;
	box-shadow: 0px 0px 0px 0px !important;
}

#searching-icon
{
	margin-right: 10px;
}

.typeahead
{
	color: #fff !important;
}

.typeahead a
{
	color: #fff !important;
}

.typeahead .active a
{
	color: #000 !important;
}


@media(max-width: 1000px)
{
	#header
	{
		/**** background: #1e1e2f; */
	}
	.navbar
	{
		/**** background: #1e1e2f; */
		
		border-bottom-width: 0px !important;
	}
}

@media(min-width: 1001px)
{
	#header
	{
		transition: all 0.5s;
	}
}

