@charset "ISO-8859-1";

/* Home Container Style */
.home-container
{
	/* margin-top: 120px; */
	/* margin-top: 10px;
	position: sticky;
	top: 80px; */
	
	/* margin-top: 140px; */
}
.home-container-wrapper
{
	padding-right: 30px;
	padding-left: 30px;
}
.home-container .home-container-col
{
	/* padding-right: 30px;
	padding-left: 30px; */
}


/* Home NavItems Style */
.home-navbar-col
{
	max-width: 200px;
}
.home-navbar
{
	/* padding: .5rem 1rem;
	padding-left: 30px; */
}
.home-navbar-nav
{
	margin-top: 10px;
}
.home-nav-item
{
	align-items: center !important;
}
.home-nav-item a
{
	color: #fff !important;
}


/* Home Sidenav Style */
#home-wrapper #home-sidenav-col
{
	/* min-width: 200px; */
	padding-right: 5px;
	padding-left: 5px;
}


/* Users List Style */
.users-col
{
	/* margin-top: 20px; */
}
.users-col-title
{
	margin-top: 10px;
	margin-bottom: 10px;
}
.user-list-row
{
	cursor: pointer;
	padding: 3px;
}
.sidenav-list-row
{
	cursor: pointer;
	padding: 3px;
}
.users-list-name
{
	/* margin: auto; */
	max-width: 180px;
	/* padding-left: 10px; */
}
.users-list-name p
{
	margin: 0px;
	padding: 0px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}
.users-list-name .users-list-name-text
{
	/* font-weight: bold; */
}
.users-list-name .note
{
	font-size: 80%;
	font-weight: 400;
}
.users-list-name
{
	/* padding-left: 0px; */
}
.line-status
{
	position: absolute;
	bottom: 5px;
	right: 5px;
	border-radius: 50%;
	background-color: #fff;
}
.online-status
{
	color: #3fda7a;
}
.offline-status
{
	color: var(--danger);
}


/* Media contents Style */
.home-container .news-media-contents-col
{
	/* max-width: 40%; */
}
.home-container .media-contents-list-header
{
	margin-top: 0px !important;
}


/* News contents Style */
.media
{
	/* background: transparent; */
}
.media-post-box
{
	/* background-color: rgba(20, 20, 20, 1) !important; */
}
#news-list
{
	/* overflow-y: scroll;
	height: 50%; */
}
#news-list>.media
{
	/* background: linear-gradient(#000, rgba(27, 28, 33, 1.0) 80%, rgba(171, 89, 210, 0.1)) !important; */
	/* border-radius: 10px !important; */
}
.posts-col
{
	max-width: 60%;
	/* margin-left: 25px; */
}


/* Suggested Media Contents Style */
#contents-news-group
{
	margin-top: 0px !important;
	padding-top: 80px !important;
	/* background: linear-gradient(to right bottom, #000, rgba(73, 143, 193, 0.2), rgba(171, 89, 210, 0.3)); */
	background: linear-gradient(to right bottom, #C350C8, #53A0E8);
}


 .sidenav {
  height: 100%;
  /* width: 250px; */
  width: 230px;
  z-index: 1001;
  /* left: 0; */
  /* background-color: rgba(29, 29, 31, 0.72); */
  overflow-x: hidden;
  overflow-y: scroll;
  /* padding-top: 20px; */
  /* margin-top: 40px; */
  
  /* padding-left: 32px; */
  /* padding-top: 40px; */
  padding-top: 10px;
  
  /* position: fixed; */
  top: 0px;
  /* left: 0px; */
  
  /* border-right: solid; */
  border-right-width: 1px;
  border-right-color: #474747;
  
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
}
.sidenav::-webkit-scrollbar {
    display: none;
}
.home-container-wrapper
{
	/* margin-left: 250px; */
	/* margin-top: 40px; */
	padding-top: 80px;
}
.sidenav-col
{
	max-width: 20%;
	
	position: fixed;
	overflow-y: hidden;
	height: 100%;
}
.home-col
{
	width: 80%;
	left: 20%;
	padding-top: 10px;
}
/*  .home-container
{
	background-color: #fff;
	color: #000 !important;
}
.home-container .media .media-comment-box .header-text
{
	background-color: #fff !important;
	box-shadow: 0px 0px 10px #E9E9E9;
}
.home-container .main-media-post-box
{
	box-shadow: 0px 0px 10px #E9E9E9;
	background-color: #E9E9E9 !important;
}
.home-container .card
{
	color: #000 !important;
}
.home-container h1,h2,h3,h4,h5,h6
{
	color: #000 !important;
} */
 
.card-img-top
{
	border-radius: 20px;
	/* height: 80%; */
}



/* Sidenav Items Style */
.sidenav-item-icon
{
	color: #fff !important;
	padding: 5px;
	border-radius: 8px;
}
.foryou-icon
{
	background: linear-gradient(#FD7785, #F7586F);
}
.browse-icon
{
	background: linear-gradient(#F7586F, #EC4CA5);
}
.news-icon
{
	background: linear-gradient(#EC4CA5, #EB4DB8);
}
.watchlist-icon
{
	background: linear-gradient(#C044F1, #9C48E8);
}
.recentlywatched-icon
{
	background: linear-gradient(#9C48E8, #8758EC);
}
.create-party-icon
{
	background: linear-gradient(#58A8FF, #3A6CEF);
}
.movie-party-icon
{
	background: linear-gradient(#474747, #474747);
}
.sidenav-item-col
{
	padding-right: 0px;
}


/* Chapternav Style */
.chapternav
{
	position: fixed;
	top: 41px;
	z-index: 1000;
	width: 100%;
	height: 100px;
	
	/* background-color: rgba(29, 29, 31, 0.72); */
	background: #0e0e0e;
	
	box-shadow: 10px 0px 20px #000;
	
	text-align: center;
	padding-top: 30px;
}


/* Movie Parties List Style */
.movieparty-media-box
{
	position: relative;
}
.participants-row, .invitations-row, .administrator-row
{
	margin-top: 5px;
}
.movieparty-media-card-img
{
	padding-right: 0px;
	padding-left: 0px;
	border-radius: 10px !important;
	
	position: absolute;
	top: 0px;
	right: 0px;
	height: 100%;
	
	-webkit-mask: linear-gradient(to right, transparent 0%, rgba(0,0,0,.1) 50%, rgba(0,0,0,.3) 100%);
}
#party-list-header-container
{
	margin-bottom: 20px;
	padding: 1rem;
}
#party-list-header-container .party-list-header-item
{
	margin-right: 5px;
}
#party-list-header-container .party-list-header-main-item
{
	background: linear-gradient(#F7586F, #EC4CA5);
	border-color: black;
}
#calendar-container
{
	margin-bottom: 20px;
	padding: 1rem;
	min-height: 70px;
}
#calendar-container .loader
{
	left: 45%;
}
#calendar-container .badge
{
	font-size: medium;
	font-weight: 400;
}


/* Home Swiper Style */
#home-swiper
{
	position: fixed;
	top: 0px;
	right: 0px;
	margin-top: 90px;
	width: 50px;
	z-index: 1000000;
	box-shadow: 0px 0px 20px 10px black;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	
	padding: 4px 8px 4px 8px;
	
	background-color: gray;
	color: black;
}

#home-swiper .swiper
{
}

.fb-posts-loader
{
	box-shadow: 0px 0px 20px 20px black;
}
.fb-posts-loader img
{
	margin: 0px 0px 0px 0px !important;
	position: absolute;
	left: 2px;
	top: 2px;
}