@charset "ISO-8859-1";

/******************************************************
	header style.
******************************************************/

#intro 
{
	width: 100%;
	/* height: 100vh; */
	height: 700px;
	/*background: linear-gradient(45deg, rgba(29, 224, 153, 0.8), rgba(29, 200, 205, 0.8)), url("../img/intro-bg.jpg") center top no-repeat;*/
	/*background: linear-gradient(45deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.1)), url("../img/call-to-action-bg.jpg") center top no-repeat;*/
	
	background: linear-gradient(to right, rgba(0, 0, 0, 1.0) 0%, rgba(0, 0, 0, 0.7) 46%, rgba(0, 0, 0, 0.0) 77%), url("../res/drawable/movie2_background.png") no-repeat;
	/*mask-image: linear-gradient(to bottom, transparent 25%, black 75%); */
	
	/*-webkit-filter: blue(20px);*/
	/*background: linear-gradient(45deg, rgba(0, 0, 0, 1.0), rgba(21, 12, 25, 0.8)), url("../img/intro-bg.jpg") center top no-repeat;*/
	background-size: cover;
	position: relative;
}


#intro .intro-text
{
	position: absolute;
	left: 0;

	/*top: 130px;*/
	top: 0;
	width: 100%;
	height: 100%;
	/*-webkit-backdrop-filter: blur(10px);*/

	right: 0;
	/*height: calc(50% - 60px);*/
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	text-align: center;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
}

.intro-movie-description
{
	margin-bottom: 30px;
	position: absolute;
	bottom: 0px;
}

.intro-movie-description #rate-star-img
{
	width: 12px;
	height: 12px;
}

.intro-watch
{
	-webkit-box-pack: left !important;
	-webkit-justify-content: left !important;
	-ms-flex-pack: left !important;
	justify-content: left !important;
	text-align: left !important;
	-webkit-box-align: left !important;
	-webkit-align-items: left !important;
	align-items: left !important;
	text-align: left !important;
	position: absolute;
	left: 0px;
	margin-left: 10%;
	max-width: 800px;
}

.intro-watch p
{
	padding-left: 0px !important;
}

/* #intro h2 
{
  margin: 30px 0 10px 0;
  padding: 0 15px;
  font-size: 48px;
  font-size: 60px;
  font-weight: 400;
  line-height: 56px;
  color: #fff;
  color: #afb4dc;
} */

#intro p 
{
  /*color: #fff;*/
  /*color: #afb4dc;*/
  margin-bottom: 20px;
  padding: 0 15px;
  font-size: 24px;
}

#intro .btn-get-started 
{
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 8px 28px;
  border-radius: 50px;
  transition: 0.5s;
  margin: 10px;
  border: 2px solid #fff;
  color: #fff;
}

#intro .btn-get-started:hover 
{
  color: #1dc8cd;
  background: #fff;
}

#intro .content-screens 
{
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  text-align: center;
  /*width: 100%;*/
  height: 50%;
}

#intro .content-screens img 
{
  box-shadow: 0px -2px 19px 4px rgba(0, 0, 0, 0.29);
}

/*
#intro .product-screens .product-screen-1 {
  position: absolute;
  z-index: 30;
  left: calc(50% + 54px);
  bottom: 0;
  top: 30px;
}

#intro .product-screens .product-screen-2 {
  position: absolute;
  z-index: 20;
  left: calc(50% - 154px);
  bottom: 0;
  top: 90px;
}

#intro .product-screens .product-screen-3 {
  position: absolute;
  z-index: 10;
  left: calc(50% - 374px);
  bottom: 0;
  top: 150px;
}
*/

#intro .content-screen
{
	margin-top: 20px;
	top: 40%;
	transition-property: margin-top;
	transition-duration: 0.2s;
}

#intro .content-screen-up
{
	top: 0% !important;
	z-index: 5 !important;
}

#intro .content-screen:hover
{
	margin-top: 0px;
}

#intro .content-screens .content-screen-1 
{
  position: absolute;
  z-index: 30;
  left: 70%;
  bottom: 0;
}

#intro .content-screens .content-screen-2 
{
  position: absolute;
  z-index: 20;
  left: 40%;
  bottom: 0;
}

#intro .content-screens .content-screen-3 
{
  position: absolute;
  z-index: 10;
  left: 10%;
  bottom: 0;
}

#join_btn
{
	margin: 10px;
}

#btn-group-info
{
	margin-left: 30px;
}

/********** TODO check new style **********/
/*.intro-text
{
	height: 100% !important;
	align-items: flex-start !important;
	padding-left: 50px !important;
}

.intro-text h1
{
	font-size: 3.4rem !important;
}

.intro-text p
{
	padding-left: 0px !important;
}

.intro-text div a
{
	margin-left: 0px !important;
}*/
.intro-text
{
	height: 100% !important;
}

.intro-text h1
{
	font-size: 3.4rem !important;
}


/* Showcase Style */
.showcase-row
{
	display: inline-block;
	white-space: nowrap;
}
.showcase-card-img-top
{
	max-width: 150px;
	border-radius: 0px !important;
	/* position: absolute; */
}
.intro-text
{
	background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.7) 20%, rgba(0, 0, 0, 1.0))
}
#most-popular-showcase-row
{
	margin-left: -100px;
}
