@charset "ISO-8859-1";

/******************************************************
	general style.
******************************************************/

body
{
	/**** background: #fff; */
	background: #000;
	
	/* color: #afb4dc; */
	color: #fff;
	/* font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif; */
	font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
	overflow-x: hidden;
}

a
{
	transition: 0.5s;
}

a:hover,
a:active,
a:focus 
{
	outline: none;
	text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 
{
	font-weight: 400;
	/*margin: 0 0 20px 0;*/
}

.navbar-brand > img
{
	height: 50px;
}

.note
{
	color: #495057;
}

.foreground-box
{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
	box-shadow: 0px 0px 20px #000 !important;
}

hr
{
	border-top-color: #1e1e2f !important;
}

.ok-green-check
{
	color: rgb(0,255,0) !important;
}

footer
{
	margin-top: 100px;
	padding-top: 3rem;
	padding-bottom: 3rem;
	background-color: #1e1e2f;
}

.avatar-img
{
	width: 40px !important;
	height: 40px !important;
}

.card-body
{
	/* background-color: #000; */
}

.clickable
{
	cursor: pointer;
}

.loader {
  border: 3px solid #000;                    /* background */
  border-top: 3px solid rgb(171, 89, 210);   /* foreground */
  border-right: 3px solid rgb(171, 89, 210); /* foreground */
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 1s linear infinite;
  
  position: absolute;
  left: 50%;
  margin-top: 30px;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}