@charset "ISO-8859-1";

/******************************************************
	general style.
******************************************************/

body
{
	/**** background: #fff; */
	background: #000;
	
	/* color: #afb4dc; */
	color: #fff;
	/* font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif; */
	font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
	overflow-x: hidden;
	font-size: 14px !important;
	letter-spacing: 0.02rem;
}

a
{
	transition: 0.5s;
	/* color: inherit; */
}

a:hover,
a:active,
a:focus 
{
	outline: none;
	text-decoration: none;
}

/* h1,
h2,
h3,
h4,
h5,
h6 
{
	font-weight: 400;
	margin: 0 0 20px 0;
} */

.btn
{
	font-size: 14px !important;
}

.navbar-brand > img
{
	/* height: 50px; */
	/* height: 30px; */
	width: 167px;
}

.note
{
	color: #495057;
}
.note-danger
{
	color: #dc3545;
}

.foreground-box
{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
	box-shadow: 0px 0px 20px #000 !important;
}

hr
{
	border-top-color: #1e1e2f !important;
}

.ok-green-check
{
	color: rgb(0,255,0) !important;
}

footer
{
	margin-top: 100px;
	padding-top: 3rem;
	padding-bottom: 3rem;
	/* background-color: #1e1e2f; */
	background-color: #1d1d1f;
}

.dropdown-menu
{
	font-size: 14px !important;
}

.avatar-img
{
	width: 40px !important;
	height: 40px !important;
	background-color: #fff;
}

.profile-img
{
	width: 80px !important;
	height: 80px !important;
}
.login-profile-img
{
	width: 35px !important;
	height: 35px !important;
}
#login-profile-name
{
	text-align: left;
	padding-left: 0px;
}

.card-body
{
	/* background-color: #000; */
}

.loader {
  border: 3px solid #000;                    /* background */
  border-top: 3px solid rgb(171, 89, 210);   /* foreground */
  border-right: 3px solid rgb(171, 89, 210); /* foreground */
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 1s linear infinite;
  
  position: absolute;
  left: 50%;
  margin-top: 30px;
}

.loader-sm
{
	margin-top: 0px !important;
}

.clickable, .can-point
{
	cursor: pointer;
}
.clickable:hover
{
	transform: scale(1.2);
}
.clickable
{
	transition: 0.5s;
}

.light-a
{
	color: #fff;
}

.modal
{
	color: #000;
}

.invisible
{
	display: inline-block !important;
	visibility: hidden !important;
}

.col-light-left
{
	padding-right: 5px;
}
.col-light-right
{
	padding-left: 5px;
}

.col-left
{
	text-align: left;
}
.col-right
{
	text-align: right;
}

.p-light
{
	margin-bottom: 0px;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}