@charset "ISO-8859-1";

#media-content-page-container
{
	margin-top: 120px;
}

.media-content-title
{
	/* margin-top: 20px; */
	font-weight: bold;
}

.checked-star
{
	color: orange;
}

#media-content-loading-container
{
	margin-top: 300px;
}

.media-content-trailer-frame
{
	width: 100%;
	height: 500px;
	border-style: none;
}
