@charset "ISO-8859-1";

.post-text
{
	margin-top: 10px;
}

#count-row .fa-container
{
	font-size: 70% !important;
}

#count-row .fa
{
	color: white !important;
  	padding: 4px;
}

#count-row .fa-thumbs-up
{
  	/* background-color: #025dac; */
  	background-color: #0069d9;
}

#count-row .fa-heart
{
	/* background-color: #c52f30; */
	background-color: #c82333;
}

#n-comments-col
{
	text-align: right;
}

.post-action
{
	text-align: center;
}

.post-action .btn
{
	padding: 0px;
}

.post-action-row
{
	height: 20px;
}

.posts-col
{
	/* min-width: 530px; */
}

.media
{
	/* background-color: #212121; */
	border-radius: 30px;
	margin-right: 0px !important;
	margin-bottom: 12px !important;
}

.media-body .header-text
{
	/* margin-left: 10px; */
}

.media .note
{
	color: #727E87;
}

.media .dropdown-divider
{
	border-top-color: #383838;
}

.media .row-item
{
	margin-right: 5px;
}

.new-post-media
{
	background-color: transparent !important;
}

.media textarea, textarea:focus
{
	background-color: transparent !important;
	border-color: transparent !important;
	box-shadow: 0px 0px 0px 0px !important;
	color: #fff !important;
	padding-bottom: 0px;
}

.new-post-action-row #publish-row-item
{
	text-align: right !important;
}

.new-post-action-row .post-action
{
	text-align: left !important;
}

.new-post-action-row h5
{
	display: inline;
}
.new-post-action-row h6
{
	display: inline;
}

.new-post-action-row .dropdown-toggle
{
	padding: 3px;
	background-color: #212121;
	border-color: #212121;
}

.new-post-action-row
{
	margin-right: 14px;
	margin-left: 14px;
}

.row-item .dropdown-toggle
{
	border-radius: 10px;
}

.new-post-action-row #publish-row-item
{
	position: absolute;
	right: 25px;
	display: none;
}

.show-comments-list-btn
{
	cursor: pointer;
}

.media-comment-box
{
	padding-bottom: 0px !important;
	padding-top: 0px !important;
	margin-top: 5px;
	margin-bottom: 0px !important;
}
.media-comment-box .header-text
{
	background-color: #0F0F0F !important;
	border-radius: 10px;
	/* margin-left: 20px; */
	padding-top: 5px;
	padding-left: 10px;
	display: inline-block;
}
.media-comment-box .post-text
{
	margin: 0px !important;
	padding-bottom: 5px !important;
}

.post-media-src-item-card-img
{
	padding: 0px;
}


/* Emoji Panel */

.emoji-panel
{
	width: 400px;
	height: 350px;
	padding-right: 10px;
	padding-left: 10px;
	overflow: auto;
	border-radius: 10px;
}

.emoji-panel .row
{
	margin: 0px;-
}

.emoji-panel .col
{
	padding: 0px;
	font-size: 20px;
}

.emoji-panel .emoji
{
	cursor: pointer;
}
.emoji-panel .emoji:hover
{
	transform: scale(1.2);
}


/* MediaContents Style */
.news-media-contents-col .media-col-item
{
	padding-right: 5px !important;
	padding-left: 0px !important;
	padding-top: 0px !important;
	padding-bottom: 0px !important;
}
.news-media-contents-col .media-contents-list
{
	padding-top: 3px !important;
}


/* CommentForm Style */
.new-comment-media
{
	/* padding: 0px !important;
	margin-top: 30px; */
	margin-bottom: 40px !important;
	display: none;
	padding-top: 0px !important;
}
.new-comment-media .dropdown-divider
{
	margin-left: 10px;
}
.new-comment-media .dropdown-toggle
{
	margin-left: 10px;
}
.new-post-action-row .publish-comment-row-item
{
	position: absolute;
	right: 10px;
	display: none;
}


/* Comments List Style */
.comments-list
{
	padding-top: 5px;
}


/* Loader Style */
.media .loader
{
	position: relative !important;
	left: 47% !important;
}
.media .more-comments-loader
{
	margin-top: 10px !important;
}


/* Watchlist Sharing Style */
.watchlist-item-card-img-container
{
	margin-left: 10%;
}
.watchlist-item-card-img
{
	padding-right: 0px;
	padding-left: 0px;
	margin-left: -10%;
	border-radius: 10px !important;
	box-shadow: 0px 0px 10px black;
}


/* Facebook page posts Style */
.m-page-fb-logo
{
	width: 20px;
	height: 20px;
	position: absolute;
	right: 0px;
	bottom: 0px;
	margin-right: 5px;
	margin-left: 5px;
}