@charset "ISO-8859-1";

#search-results-content
{
	margin-top: 120px;
}

#users-list-header
{
	/* margin-top: 120px; */
}

#media-contents-list-header:not(#users-list-header)
{
	/* margin-top: 120px; */
}

.media-contents-list-header
{
	/* margin-top: 120px; */
	margin-top: 50px;
	/* margin-bottom: 50px; */
	margin-right: 0px;
	margin-left: 0px;
}

.media-contents-list-header .col
{
	margin-right: 0px;
	margin-left: 0px;
	margin-top: 30px;
	padding-right: 0px;
	padding-left: 0px;
}

.media-contents-group-list-header
{
	margin-right: 5% !important;
	margin-left: 5% !important;
	padding-bottom: 10px;
	position: relative;
	text-align: left;
	margin-right: 0px;
	margin-left: 0px;
}

.media-contents-group-list-header .col
{
	margin-right: 0px;
	margin-left: 0px;
	padding-right: 0px;
	padding-left: 0px;
}

.filter-section
{
	margin-top: 10px !important;
	margin-bottom: 50px !important;
}

.media-contents-list-header-title
{
	display: inline;
}

.sorting-policy-section
{
	text-align: right;
}

.sorting-policy-select
{
	position: relative;
	top: -7px;
}

#users-search-result .media
{
	text-align: left !important;
}

#users-search-result .media img
{
	margin-right: 30px !important;
}

.empty-result-wrapper
{
	right: 0px;
	margin: 0px auto;
	margin-top: 20%;
	top: 50px;
	position: relative;
	border-radius: 10px;
	color: #fff;
	padding: 30px;
	text-align: center;
}

.media-contents-list
{
	padding-top: 0px !important;
}

.inline-widget
{
	position: relative;
	top: -7px;
}

#genres-select
{
	min-width: 200px;
}

.filter-select-position
{
	position: relative;
	top: -5px;
}

.filter-lable
{
	font-weight: normal;
	position: relative;
	top: +5px;
}

#contents-news-group
{
	margin-top: 80px;
}