@charset "ISO-8859-1";

/******************************************************
	signup form style.
******************************************************/

body
{
	/* background-color: #f6f7f2; */
	/* background-color: #1e1e2f; */
	/* background-color: #3F3F4F; */
	/* background-color: #222222; */
	
	/**** background: #1F242A; */
	/**** background: linear-gradient(to top left, rgb(31,36,42), rgb(12,11,11)) !important; */
	
	/* background: linear-gradient(to bottom right, rgb(31, 36, 42), rgb(30, 30, 47)) no-repeat; */
	/* background: linear-gradient(rgba(30, 30, 47, 1.0), rgba(30, 30, 47, 0.8)) no-repeat; */
	/* background-color: #041624; */
}

.signup-wrapper, .login-wrapper, .info-wrapper, .whoiswatching-wrapper
{
	right: 0px;
	/* min-height: 560px; */
	margin: 0px auto;
	top: 80px;
	position: relative;
	border-radius: 10px;
	/* background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.4)), url("../res/drawable/intro_background.jpg") no-repeat; */
	/* background-color: #fff; */
	
	/* background-color: #f6f7f2; */
	
	/**** background: linear-gradient(to bottom right, rgb(32,31,45), rgb(31,36,42)) !important; */
	
	/* color: #000; */
	color: #fff;
	
	padding: 30px;
	
	text-align: center;
}

.intro-section
{
	padding-bottom: 80px;
}

.login-wrapper, .info-wrapper
{
	top: 80px !important;
	padding: 40px 50px 50px 50px !important;
}

.signup-wrapper, .info-wrapper
{
	/* width: 700px; */
	width: 600px;
}

.signup-wrapper.choose-plan-wrapper
{
	width: 1000px !important;
}

.login-wrapper
{
	width: 450px;
}

.whoiswatching-wrapper
{
	top: 130px !important;
	padding: 40px 50px 50px 50px !important;
	width: 80% !important;
}
.whoiswatching-wrapper.profile-select
{
	top: 200px !important;
}

#profile-insert-password-form .form-row
{
	justify-content: center;
}
#profile-insert-password-form .form-row.form-row-pin .col
{
	max-width: 30%;
}
.profile-insert-password-submit-div
{
	padding-right: 35%;
	padding-left: 35%;
}

.profile-name
{
	margin-top: 10px;
}

#account-menu
{
	text-align: left;
	padding-right: 10%;
	padding-left: 10%;
}

.form-section-text
{
	text-align: left !important;
}

#plans-wrapper
{
	width: 900px !important;
}

#form-header
{
	padding-bottom: 50px;
}

.login-wrapper > #form-header
{
	padding-bottom: 30px !important;
}

#form-header.form-header-payment
{
	padding-bottom: 10px !important;
}

.form-row
{
	padding-bottom: 30px;
}

.form-row-light
{
	padding-bottom: 10px;
}

.form-check
{
	width: 100% !important;
	height: 100% !important;
}

.form-check.form-check-inline
{
	text-align: left;
}

.form-radio-box
{
	padding-right: 10px;
	padding-left: 30px;
	padding-top: 40px;
	/* padding-bottom: 30px; */
}

.btn-main
{
	width: 100% !important;
}


.btn-form-row
{
	/* padding-top: 30px; */
}

.login-wrapper .btn-form-row
{
	padding: 0px 0px 10px 0px !important;
}

.form-check
{
	margin: 0px !important;
	padding: 0px !important;
}

.form-check > label
{
	margin-left: 10px;
	margin-bottom: 0px;
}

.form-group
{
	margin: 0px !important;
}

.singup-header
{
	position: relative !important;
	/* background-color: transparent !important; */
}

.payment-methods-img
{
	padding-bottom: 30px;
}

.modal
{
	display: block;
}

.info-text-box
{
	text-align: justify !important;
}

.card
{
	color: #fff !important;
}

.modal-dialog
{
	color: #000 !important;
}

.card-input-element+.card:hover
{
	cursor: pointer;
}

.card-input-element:checked+.card
{
	border: 2px solid;
	border-color: rgb(0,255,0) !important;
}


@media(max-width: 800px)
{
	.signup-wrapper, .login-wrapper, .info-wrapper
	{
		width: 100% !important;
	}
	
	.signup-wrapper.choose-plan-wrapper
	{
		width: 100% !important;
	}
	
	#plans-wrapper
	{
		width: 100% !important;
	}
}

@media(min-width: 801px)
{
	.signup-wrapper, .info-wrapper
	{
		/* width: 700px !important; */
		width: 600px !important;
	}
	
	.signup-wrapper.choose-plan-wrapper
	{
		width: 1000px !important;
	}
	
	.login-wrapper
	{
		width: 450px !important;
	}
	
	#plans-wrapper
	{
		width: 900px !important;
	}
}


/* External Profile Avatar Icon Style */
.external-profile-icon
{
	right: 0px !important;
	bottom: 0px !important;
	margin-right: 20px !important;
	margin-bottom: 50px !important;
}